DATABASE_NAME=dicoevent
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
MINIO_BUCKET_NAME=dico-event
MINIO_ENDPOINT_URL=localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
REDIS_HOST=redis://127.0.0.1:6379
CELERY_BROKER_URL='amqp://guest:guest@localhost:5672//'
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASSWORD=